---
import Copyright from '@components/Copyright.astro'
import Layout from '@layouts/Layout.astro'
import ListOfBooks from '@components/ListOfBooks.astro'
import Title from '@components/Title.astro'
---

<Layout title='Recommended Books.'>
	<main class='m-auto max-w-4xl'>
		<Title />
		<ListOfBooks />
		<Copyright />
	</main>
</Layout>
