---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Novelty Books.">
	<main class="m-auto max-w-4xl">
		<Title />
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
