<footer class='text-center my-8'>
	<p class='text-sm text-slate-300'>
		Based on Recommended Books by <a
			href='https://books.zaps.dev/'
			class='font-bold text-slate-300 hover:text-slate-400'>Addy Osmani</a
		> project.
	</p>
</footer>
