<h1
	class='font-black uppercase text-6xl md:text-9xl text-center py-8 px-4'
	style='view-transition-name: book-title'
>
	<span class='block text-[36px] md:text-[56px] text-gradient'>Recommended</span> Books
</h1>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
